## Planning

## Acquisition

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

import numpy as np

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt
import seaborn as sns
import acquire
import prepare
from prepare import prep_telco

In [2]:
df = acquire.get_telco_data()
df.head()

,Unnamed: 0,contract_type_id,payment_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
0,0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,Mailed check,One year
1,1,1,2,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,DSL,Mailed check,Month-to-month
2,2,1,1,2,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Electronic check,Month-to-month
3,3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Electronic check,Month-to-month
4,4,1,2,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Mailed check,Month-to-month

what columns do we have?

Unnamed: 0                    int64 <br>
    -this is the unique id with 7043 unique values. will need this later for .csv, but will drop in preparation for now <br>
    
contract_type_id              int64 <br>
    -there are 3 contract types here that are represented numerically <br>
        1 - month to month contract <br>
        2 - 1 year contract <br>
        3 - 2 year contract <br>
        
payment_type_id               int64 <br>
    -there are 4 types of payments that are represented numerically <br>
        1 - electronic check <br>
        2 - mailed check <br>
        3 - bank transfer <br>
        4 - credit card (automatic) <br>
        
internet_service_type_id      int64 <br>
    
customer_id                  object <br>
gender                       object <br>
senior_citizen                int64 <br>
partner                      object <br>
dependents                   object <br>
tenure                        int64 <br>
phone_service                object <br>
multiple_lines               object <br>
online_security              object <br>
online_backup                object <br>
device_protection            object <br>
tech_support                 object <br>
streaming_tv                 object <br>
streaming_movies             object <br>
paperless_billing            object <br>
monthly_charges             float64 <br>
total_charges                object <br>
churn                        object <br>
internet_service_type        object <br>
payment_type                 object <br>
contract_type                object <br>

In [8]:
df.dtypes

Unnamed: 0                    int64
contract_type_id              int64
payment_type_id               int64
internet_service_type_id      int64
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
paperless_billing            object
monthly_charges             float64
total_charges                object
churn                        object
internet_service_type        object
payment_type                 object
contract_type                object
dtype: object

In [11]:
df['Unnamed: 0'].nunique()

7043

In [13]:
df['contract_type_id'].value_counts()

1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64

In [14]:
df['payment_type_id'].value_counts()

1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64

In [18]:
df['internet_service_type_id'].value_counts()

2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64

## Preparation

In [ ]:
from prepare import prep_telco

In [ ]:
df = prep_telco(df)

In [ ]:
df

In [ ]:
df.info()

## Exploration and Pre-processing

## Modeling